body {
    margin: 0;
    text-align: center;
}


.container {
    position: relative;
    width: 450px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 60px;
    line-height: 150%;
}

h1 {
    font-family: Helvetica Neue;
    font-variant-caps: small-caps;
}

#menu {
    font-family: Garamond;
}

#content {
    color: #505050;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    padding-top: 20px;
    text-align: center;
}

p {
    font-family: Garamond;
    display: inline-block;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Garamond
    color: #505050;
}

.img-circle {
    border-radius: 50%;
}
