.font-styles {
  font-family: Garamond;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #505050;
}

.no-hyperlink {
  text-decoration:none;
  color: inherit;
}

.menu {
  text-align: center;
  margin-top: 45%;
}

.title {
  padding: 15px 0px 0px 50px;
}

.socials {
  padding: 15px 0px 0px 0px;
}

.bio {
  padding-left: 50px;
}

.projects {
  padding-left: 50px;
}

.art {
  padding-left: 50px;
}
